@import "tailwindcss";

/* Add to your CSS file (or Tailwind's @apply in your tailwind.config.js if you're using Tailwind) */

.black-text {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
	font-weight: 600; /* or 500 */
}

.blue-text {
	font-family: "Merriweather", "Georgia", serif;
	font-weight: 700;
	color: #1e90ff; /* Bright blue */
}

.caption-text {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
	font-weight: 600; /* bold */
	font-size: 4rem; /* size of the text */
	line-height: 1.2; /* space between lines */
	margin-bottom: 1rem; /* optional space below, if needed */
}

.nav-bar {
	font-weight: 500; /* or 500 */
	font-size: 20px;
}

.bottom_banner {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
	font-weight: 600; /* bold */
	font-size: 4rem;
}
